
  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu&display=swap');


:root{
--main-color:#2196f3;
--main-color-alt:#1787e0;
--section-bg:  #ececec;
}

html{scroll-behavior: smooth;}

*{margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
overflow-x: hidden;
    font-family: 'Cairo', sans-serif;
}

ul{list-style: none;}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  header{background-color: white;
box-shadow: 0 0 7px rgba(0, 0, 0, 0.192);
}

  header .container{
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
flex-wrap: wrap;
  }


  header .container .logo{
text-decoration: none;
height: 70px;
color: var(--main-color);
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
font-weight: bold;
letter-spacing: 1px;

  }
  header .container .nav{
display: flex;
max-width: 100%;
  }
  header > .container > .nav > li{
height: 70px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
overflow: hidden;
transition: 0.3s;

  }
  header > .container > .nav > li > a{
color:rgba(0,0,0);
padding: 0 30px;
text-decoration: none;
text-transform: capitalize;
font-size: 19px;
transition: 0.3s;
  }


  header > .container > .nav > li::before  {
content: "";
position: absolute;
width: 100%;
top: 0;
height: 3px;
background-color: var(--main-color);
left: -100%;
transition: 0.3s;
  }

  header > .container > .nav > li:hover{
background-color: #fafafa;

  }


  header > .container > .nav > li:hover  a {color: var(--main-color);}

  header > .container > .nav > li:hover::before{left: 0;}


  @media (max-width:768px){

header .container{
  flex-direction: column;
}

header > .container > .nav > li > a{
  padding: 0 20px ;
  font-size: 16px;
}

  }

.landing{
min-height: calc(100vh - 70px);
position:relative;

}

@media (max-width:991px){

.landing img{display: none;}

.landing .text{text-align: center;
flex: 1;}

.landing .text p{margin: auto;}





}
  .landing .container{display: flex;
  align-items: center;
min-height: 500px;
justify-content: space-between;
position: relative;

}

  .landing .container img{
width: 500px;
animation-name: landing;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-duration: 3s;
animation-fill-mode: forwards;
  }


  .landing::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
background-color: #ececec;
transform: skewY(-5deg);
z-index: -1;
transform-origin: top left;
  }


.landing .container .text h1{text-transform: capitalize;
font-weight: 600;


}


.landing .container .text p{
line-height: 1.5;
color: #333;
text-transform: capitalize;
max-width: 100%;
max-width: 500px;
}

.landing  a {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
color: var(--main-color);
font-size: 35px;
}

.landing i{
animation: bouncing linear infinite 1.5s;



}


.landing  a:hover{
color: var(--main-color-alt);

}



@keyframes landing{
50%{
transform: translateY(-40px);



}

100%{
transform:translateY(0px) ;

}



}

@media (max-width:767px){
.landing .text h1{
font-size: 28px;
}



.landing .text p{
  
  font-size: 18px;
}


.landing .container{min-height: 420px;}

.landing .container h1{margin-bottom: 27px;}


}


@keyframes bouncing {

10%,20%,30%,50%,70%,80%,90%,100%{
  transform: translateY(0);
}

40%,60%{transform: translateY(-20px);}





}

@media (min-width:768px){
.landing h1{font-size: 40px;}
.landing p{font-size: 21px;}



}










.mega-menu{display: flex;
position: absolute;
top: calc(100% + 50px);
left: 50%;
transform: translateX(-50%);
background-color: white;
z-index: 99;
padding: 50px;
align-items: center;
gap: 30px;
border-bottom: var(--main-color) solid 5px;
opacity: 0;
z-index: -1;
transition: 0.3s;
visibility: hidden;
}


.mega-menu img{width:390px;
}


.mega-menu .colinks{
text-align: center;
min-width: 250px;
display: grid;
grid-template-rows: 1fr;
}


.mega-menu .colinks li{
padding: 25px 20px 10px ;
color: var(--main-color);
font-size: 19px;
cursor: pointer;
display: flex;
position: relative;
}



.mega-menu .colinks li::before{
content:"";
height: 100%;
width: 0;
background-color: #fafafa;
position: absolute;
left: 0;
top: 0;
z-index: -1;
transition: 0.4s;
}

.mega-menu .colinks li:hover::before{width: 100%;}



.mega-menu .colinks li i{
margin-right: 25px;


}

@media (max-width:991px){

.mega-menu img{
  display: none;
}

.mega-menu .colinks{
  grid-row-gap: 10px;
}


}


.mega-menu .colinks li:not(:last-child){
border-bottom: solid 1px #e9e6e6;



}


@media (max-width:767px){

.mega-menu {flex-direction: column;
gap:0;
padding: 20px;
}


.mega-menu .colinks li:last-child{border-bottom: 1px solid #e9e6e6;}


}

header:hover   .mega-menu{
top: calc(100% + 0.1px);
z-index: 9;
opacity: 1;
visibility: visible;
}

.sp-head{
position: relative;
padding: 10px 20px;
text-transform: uppercase;
font-weight: bold;
color: black;
border: 2px solid black;
width: fit-content;
margin: 0 auto 80px;
transition:0.3s ;
z-index: 2;
font-size: 26px;
}


.sp-head::before{content: "";
  position: absolute;
width: 12px;
height: 12px;
border-radius: 50%;
background-color: var(--main-color);
left: -27px;
top: 50%;
transform: translateY(-50%);

z-index: -1;
}


.sp-head:hover::before{animation: right 0.6s forwards linear;}
.sp-head::after{content: "";

  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  right: -27px;
  top: 50%;
  transform: translateY(-50%);
 
z-index: -1;
}

.sp-head:hover::after{

  animation: left 0.6s forwards linear;
}

.sp-head:hover{border: 2px solid white;
color: white;
transition-delay: 0.6s;

}



@keyframes right{

  50%{
left: 0;
width: 12px;
height: 12px;
  }
100%{
  left: 0;
  height: 100%;
  width: 50%;
  border-radius: 0;

}






}


@keyframes left{

  50%{
right: 0;
width: 12px;
height: 12px;
  }
100%{
  right: 0;
  height: 100%;
  width: 50%;
  border-radius: 0;

}






}



.news{padding: 100px 0;


}



.news .container {display: flex;
justify-content: space-between;
flex-wrap: wrap;
}




.news .container .box{
border-radius: 8px;
background-color: white;
box-shadow: 0 2px 9px rgba(0, 0, 0, 10%);
margin-bottom: 50px;
display: grid;
grid-template-rows: 45% 41% 14%;
transition: 0.3s;
}


.news .container .box:hover{
transform: translateY(-20px);




}


.news .container .box img{
width: 100%;
border-radius:8px 8px 0 0;
height: 100%;
aspect-ratio: 1;
}



.news .container .box .info{
padding: 20px;
text-transform: capitalize;

}



.news .container .box .info h3{
text-transform: capitalize;
font-size: 20px;
margin-bottom: 20px;

}


.news .container .box .info p{
font-size: 20px;
color: #777;
}


.news .container .box .read{
border-top: solid 1px #e9e6e6;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.news .container .box .read a{text-decoration: none;
  color: var(--main-color);
  transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}


.news .container .box .read  i{
font-size: 20px;
color: var(--main-color);



}



@media (max-width:767px){
  .news .box{width: calc(85%);
  margin: auto;
max-height: 425px;}
  .news .container {flex-direction: column;
  justify-content: center;}
  
  
  
  }





@media (min-width:768px) and (max-width:991px) {
  .news .box{width: calc(95% / 2);
  max-height: 450px;}
  
  }



@media (min-width:992px) {
.news .box{width: calc(93% / 4);}




}





.anime {padding: 100px 0 ;
background-color: var(--section-bg);

}

.anime .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 35px;
justify-content: center;
justify-items: center;
}

.anime .box{position: relative;
overflow: hidden;
background-color: white;
padding: 10px;}

.anime .box img{width: 320px;
}

@media (max-width:767px){

.anime .box img{width: 290px;
}





}


.anime .container .box .info {
position: absolute;
bottom: -200px;
width: 100%;
color: var(--main-color);
background-color: white;
padding: 25px 20px;
display: flex;
align-items: center;
cursor: pointer;
transition: 0.4s;
}

.anime .container .box .info  p{font-size: 20px;}


.anime .container .box .info i{
  margin-right: 15px;
font-size: 22px;
}

.anime .box:hover .info{
bottom: 0;
}


.anime .box::before{
content: "";
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background-color: rgba(255, 255, 255, 0.2);
width: 0;
height: 0;
z-index: 10;
}

.anime .box:hover::before{
animation: 0.5s flash;

}


@keyframes flash{

0%,40%{opacity: 1;}

100%{opacity: 0;
width: 200%;
height: 200%;}
}

.games{padding: 100px 0;}


.games .container{display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 40px;
}

.games .box{text-align: center;
overflow: hidden;
border: 1px solid #ccc;
}

.games .box .img-holder{
  position: relative;
}

.games .box .img-holder::before{
content: "";
width: 0;
height: 0;
bottom: 0;
right: 0;
position: absolute;
border-color: transparent transparent white transparent;
    border-width: 0 0 180px 500px;
border-style: solid;
transition: 0.3s;
}












.games .box:hover .img-holder::before{border-width: 0 500px 120px 0;}










.games .box img{max-width: 100%;
width: 500px;
z-index: -1;
position: relative;}

.games .box p{
color: #333;
font-size: 20px;
line-height: 1.7;
padding: 15px;

}

.games .box  h3{margin: 15px 0;
font-size: 33px;
text-transform: uppercase;
}


.games .box a{
text-decoration: none;
width: fit-content;
padding: 10px 30px;
font-weight: bold;
margin:  20px auto 25px ;
width: fit-content;
display: block;
font-size: 20px;
text-transform: capitalize;
border-radius: 10px;
position: relative;
}

.games .box.ps a{
color: blue;
border: 1px solid blue;
position: relative;

}



.games .box.ps a::before{
content: "";
position: absolute;
width: 0;
height: 100%;
left: 0;
top: 0;
background-color: blue;
transition: 0.3s;
border-radius: 8px;
z-index: -1;
}

.games .box.ps:hover a::before{width: 100%;
height: 100%;}











.games .box.xbox a{
border: 1px solid green;
color: green; 
position: relative;
}


.games .box.xbox a::before{
content: "";
position: absolute;
width: 0;
height: 100%;
left: 0;
top: 0;
background-color: green;
transition: 0.3s;
border-radius: 8px;
z-index: -1;
}

.games .box.xbox:hover a::before{width: 100%;
height: 100%;}







.games .box.switch a{
color: #f44036;
border: 1px solid #f44036;
position: relative;
}



.games .box.switch a::before{
content: "";
position: absolute;
width: 0;
height: 100%;
left: 0;
top: 0;
background-color: #f44036;
transition: 0.3s;
border-radius: 8px;
z-index: -1;
}

.games .box.switch:hover a::before{width: 100%;
height: 100%;}

.games .box:hover a{color: white;}



.games .box h3{
position: relative;
width:fit-content;
margin: auto; 
padding-bottom: 10px;
}

.games .box.ps h3::before{
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: blue;
}



.games .box.xbox h3::before{
  content: "";
  position: absolute;
  width: calc(100% - 25px);
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
}


.games .box.switch h3::before{
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44036;
}


.games .box.ps .img-holder{
  background-color: rgba(3 169 244 / 50%);;

}

.games .box.switch .img-holder{
background-color: rgb(244 64 54 / 50%);}


.games .box.xbox .img-holder{
  background-color: rgba(46, 255, 116, 0.5);}


.testimonials{padding: 100px 0;
background-color: var(--section-bg);
}

.testimonials .container{display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
grid-column-gap: 40px;
grid-row-gap: 55px;
}


.testimonials .container .box{position: relative;
background-color: white;
padding: 17px;}


.testimonials .container .box img{width: 100px;
position: absolute;
top: -50px;
right: -10px;
border-radius: 50%;
border: 10px solid var(--section-bg);
}

@media(max-width:991px){
  .testimonials .container .box img{
    right: 0;
  }




}



.testimonials .container .box .rate{
margin-bottom: 10px;

}

.testimonials .container .box .rate .fa-solid{
  color: yellow;
  
  }
  



.testimonials .container .box p{
  color: #777;
  line-height: 1.6;
}

.testimonials .container .box h3{
text-transform: capitalize;
margin-bottom: 10px;
}


.team{padding: 100px 0;
}

.team .container{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
column-gap: 50px;
row-gap: 70px;

}

.team .container .box{position: relative;
 
}

.team .container .box::after{
content: "";
position: absolute;
right: 0;
top: 0;
width: 0;
height: 100%;
z-index: -1;
background-color: #e4e4e4;
transition: 0.4s;
border-radius: 11px;
}




.team .container .box:hover::after{
  width: calc(100% - 60px);
}










.team .container .box .data{display: flex;
  align-items: center;
  padding-top: 50px
}

.team .container .box .data i{font-size: 20px;
color: #777;
cursor: pointer;
transition: 0.3s;
}


.team .container .box .data i:hover{color: var(--main-color);}

.team .container .box .data img{
  width: calc(100% - 60px);
  border-radius: 11px;
  transition: 0.4s;
}



.team .container .box:hover img{
  filter: grayscale(100%);
}


.team .container .box .data .icons{display: flex;
flex-direction: column;
width: 60px;
align-items: center;
gap: 20px;
}



.team .container .box::before{
content: "";
position: absolute;
z-index: -2;
background-color: #f3f3f3;
height: 100%;
width: calc(100% - 60px);
right: 0;
border-radius: 11px;

}


.team .container .box .info{
padding-bottom: 20px;
padding-left: 80px;
}


.team .container .box .info h3{
color: var(--main-color);
  font-size: 25px;
  margin-bottom: 10px;
 margin-top: 20px;
 text-transform: capitalize;
 transition: 0.4s;
}


.team .container .box:hover h3{color: #777;
}



.team .container .box .info  p{
text-transform: capitalize;
  
}




.reviews{padding: 100px 0;
background-color: var(--section-bg);}

.reviews .container{
  display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 50px;
}


.reviews .container .box{position: relative;
background-color: white;
counter-increment: reviews;
transition: 0.3s;
cursor: pointer;
box-shadow: 0px 6px 11px 0 rgba(0, 0, 0, 0.308);
}

.reviews .container .box::before{content: "";
top: -2px;
left: 50%;
transform: translateX(-50%);
width: 0;
height: 3px;
transition: 0.3s;
position: absolute;
background-color: var(--main-color);
}


.reviews .container .box:hover::before{width: 100%;}

.reviews .container .box:hover{transform: translateY(-7px);}


.reviews .container .box .srv{display: flex;
justify-content: center;
align-items: center;
padding: 30px;
flex-direction: column;
}



.reviews .container .box .srv h3{
color: var(--main-color);
font-size: 30px;
text-transform: capitalize;
}

.reviews .container .box .srv i{display: block;
font-size: 50px;
color: #d5d5d5;
margin-bottom: 17px;
}

.reviews .container .box .info{background-color: #f9f9f9;
width: 100%;
padding: 15px;
position: relative;
text-align: right;
text-transform: capitalize;
}

.reviews .container .box .info a{text-decoration: none;
color: var(--main-color);
font-size: 18px;
}




.reviews .container .box .info::before{
  content: "0" counter(reviews);
position: absolute;
width: 80px;
height: 100%;
left: 0;
bottom: 0;
background-color: var(--main-color);

color: white;
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
font-weight: bold;
}

.reviews .container .box .info::after{
content: "";
position: absolute;
bottom: 0;
left: 70px;
width: 50px;
background-color: #d5d5d5;
height: 100%;
transform: skewX(-20deg);
z-index: 3;
}

.skills{padding: 100px 0;
}

.skills .container {display: flex;
  gap: 40px;
  align-items: center;
}

.skills .container .progress{
flex: 1;
}

.skills .container .progress .box{
position: relative;
margin-bottom: 25px;
}

.skills .container .progress .box::before{
  position: absolute;
  content:attr(data-prog);
top:0;
right: 0;
color: var(--main-color);
padding: 5px;
border-radius: 5px;
border: 1px solid #eee;
font-weight: bold;
}


@media (max-width:991px){
  .skills .container img{display: none;}


}





.skills .container .progress .box h3{
  color: black;
  text-transform: capitalize;
  margin: 15px 0;
  font-size: 22px;
}

.skills .container .progress .box .prog-holder{
height: 30px;
background-color: #eee;
position: relative;
}

.skills .container .progress .box .prog-holder span{
position: absolute;
height: 100%;
background-color: var(--main-color);

}

.work{
  background-color: var(--section-bg);
  padding: 100px 0;
}

.work .container{display: flex;
align-items: center;
gap: 100px;
}

.work .container .img-box img{max-width: 100%;
min-width: 410px;}


.work .container .boxes img{width: 70px;}

.work .container .boxes .box::before {
content: "";
position: absolute;
transform: translate(-50% , -50%);
left: 50%;
top:50%;
width: 0;
height: 0;
z-index: -1;
background-color: #ededed;
transition: 0.3s;
border-radius: 10px;
}


.work .container .boxes .box:hover::before{
width: 100%;
height: 100%;
}



.work .container .boxes .box{background-color: #f6f5f5;
display: flex;
border: 3px solid white;
padding: 30px;
margin-bottom: 25px;
gap: 30px;
align-items: center;
position: relative;
border-radius: 10px;
z-index: 1;
}

.work .container .boxes img{width: 70px;}

.work .container .boxes .box h3{
margin-bottom: 8px;
text-transform: capitalize;
font-size: 23px;
}

.work .container .boxes p{
color: #777;
font-size: 17px;
line-height: 1.4;



}


@media (max-width:991px){

  .work .container {flex-direction: column;}

  .work .container .img-box img{max-width: 100%;
    min-width: 300px;}

}

@media(max-width:767px){


.work .container .boxes .box{
  flex-direction: column;
  text-align: center;
}

.work .container .boxes .box h3{
  margin-bottom: 20px;
}





}



.events{padding: 100px 0;}

.events .container{
display: flex;
align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.events .container img{
  max-width: 450px;
}

.events .container .info{flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
}


.events .container .info .time{display: flex;
justify-content: center;
align-items: center;
gap: 14px;
margin-bottom: 40px;
}




.events .container .info .time .unit{border: 1px solid #d4d4d4;
text-align: center;
width: 67px;
border-radius: 10px;
}

.events .container .info .time .unit span:first-child{display: block;
padding: 25px 30px;
color:var(--main-color) ;
font-weight: bold;
font-size: 36px;
display: flex;
justify-content: center;
align-items: center;
}

.events .container .info .time .unit span:last-child{display: block;
  border-top: 1px solid #d4d4d4;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
text-transform: capitalize;
color: black;
font-size: 14px;
}

.events .container .info h3{text-align: center;
text-transform: capitalize;
font-size: 34px;
margin-bottom: 18px;
}

.events .container .info p{
color: #777;
line-height: 1.7;
text-align: center;
font-size: 18px;

}

.events .container .subscribe{flex-basis: 100%;}

.events .container .subscribe form{background-color: #f6f5f5;
width: 600px;
margin: 20px auto;
padding: 30px 40px;
border-radius: 40px;
display: flex;
gap: 10px;
max-width: 100%;
}


.events .container .subscribe form input[type="email"]{
  padding: 20px;
  background-color: white;
  border-radius: 40px;
  flex:1 ;
  border: none;
  caret-color: var(--main-color);
}

.events .container .subscribe form input[type="email"]::placeholder{
  text-transform: capitalize;
}





.events .container .subscribe form input[type="submit"]{
padding: 20px;
background-color: var(--main-color);
font-weight: bold;
color: white;
border-radius: 40px;
text-transform: capitalize;
border: none;
font-size: 17px;
}


 input[type="email"]:focus{
  outline: none;
}

input[type="text"]:focus{
  outline: none;
}

textarea:focus{outline: none;}
textarea:focus::placeholder{opacity: 0;}



input[type="email"]:focus::placeholder{opacity: 0;}
input[type="text"]:focus::placeholder{opacity: 0;}

 input[type="submit"]:hover{background-color: var(--main-color-alt);
cursor: pointer;
}


@media (max-width:991px){
.events img{display: none;}
}



@media (max-width:767px){

 .events .container .subscribe form{
flex-direction: column;
width: auto;
max-width: 95%;
padding: 18px;
border-radius: 0;
}

.events .container .subscribe form input[type="email"]{border-radius: 0;
padding: 18px;
border-radius: 0;
}

.events .container .subscribe form input[type="submit"]{
border-radius: 0;
font-size: 19px;
}

 .container .subscribe form {

gap: 15px;

}

}

.pricing{padding: 100px 0;
background-color: 
var(--section-bg)
}

.pricing .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap:30px;
}


.pricing .container .box{
display: grid;
grid-template-rows: 45% 40% 15%;
background-color: white;
height: 700px;
align-items: center;
position: relative;
z-index: 1;
box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);

}

@media(max-width:767px){

  .pricing .container .box{
max-width: 290px;

  }









}


.pricing .container .popular{
  transform: translateY(-10px);
}




.pricing .container .box img{width: 90px;

}

.pricing .container .box .header{
padding: 20px 50px;
display:flex ;
flex-direction: column;
align-items: center;
gap: 20px;
position: relative;
}

.pricing .container .popular .header::before{
content: "Most Popular";
position: absolute;
top: 7px;
word-spacing: 1px;
right: 17px;
color: white;
background-color: var(--main-color);
padding: 10px 10px 35px 10px;
font-weight: bold;
writing-mode: vertical-rl;
}



.pricing .container .popular .header::after{
content: "";
top: 114px;
right:17px;
width:0;
height: 0;
border-style: solid;
border-color: transparent transparent white;
    border-width: 20px;
position: absolute;

}





.pricing .container .box .header h3{
text-transform: capitalize;
font-size: 28px;
padding-top: 40px;
}

.pricing .container .box .footer{
padding:  20px 50px;
text-align: center;
margin-top: -30px;
}

.pricing .container .box .footer a{
color: var(--main-color);
border-radius:4px;
text-decoration: none;
text-transform: capitalize;
font-size: 18px;
border: 2px solid var(--main-color);
padding: 15px 20px;
font-weight: bold;
display: block;
width: fit-content;
margin: auto;
transition: 0.3s;
}


.pricing .container .box .footer a:hover{
background-color: var(--main-color);
color: white;
}






.pricing .container .box .header .price{text-align: center;}

.pricing .container .box .header .price span:first-child{display: block;
color: var(--main-color);
font-size: 60px;
font-weight: bold;
}

.pricing .container .box .header .price span:last-child{display: block;
color: #777;
}


.pricing .container .box ul li{
padding: 19px;
text-align: left;
position: relative;
border-top:1px solid #eee ;
text-transform: capitalize;
font-size: 17px;
}


.pricing .container .box ul li::before{
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}


.pricing .container .box::before{
content: "";
position: absolute;
top: 0;
left: 0;
height: 50%;
width: 0;
background-color: #f6f6f6;
transition: 0.3s;
z-index: -1;
}


.pricing .container .box::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 0;
  background-color: #f6f6f6;
  transition: 0.3s;
  z-index: -1;
  }

  .pricing .container .box:hover::before{
width: 100%;
  }

  .pricing .container .box:hover::after{
    width: 100%;
      }



      .video{
        padding: 100px 0;
      }

      .video .container .holder{
        display: flex;
        background-color: var(--section-bg);
      }


      .video .container .holder .list{
       background-color: white;
        min-width:290px ;
        border:1px solid #eee
      }

      .video .container .holder .list .name{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        text-transform: capitalize;
        background-color: var(--section-bg);
        font-size: 18px;
        font-weight: bold;
       }

       .video .container .holder .list ul li{
       padding: 24px 20px;
        background-color: white;
        border-top: 1px solid var(--section-bg);
        font-size: 17px;
        text-transform: capitalize;
        transition: 0.3s;
        cursor: pointer;
       }


       .video .container .holder .list ul li:hover{
        background-color: #fafafa;
    color: var(--main-color);

       }





       .video .container .holder .list ul li span{display: block;
      color: #777;
      margin-top: 5px;
      }

      .video .container .holder .preview{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        flex: 1;
        justify-content: space-between;
      }

      .video .container .holder .preview p{
        background-color: white;
        padding: 15px;
        text-transform: capitalize;
        width: 100%;
      }

      .video .container .holder .preview img{max-width: 100%;}

      @media (max-width:991px){


        .video .container .holder{
          flex-direction: column;
        }

        .video .container .holder .preview img{margin-bottom: 20px;}
      }

      .stats{
      padding: 100px 0;
        background-image: url(../Images/stats.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 1;
      }
      .stats::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
      }


      .stats h2{
        font-size: 40px;
        z-index: 5;
        position: relative;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 80px;
      }

      .stats .container{display: grid;
      grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
      gap: 25px;
      position: relative;
      
      }

      .stats .container .box{
        padding: 30px 15px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
       text-align: center;
       opacity: 0.89;
       justify-content: center;
       position: relative;
       transition: 0.3s;
      }

      .stats .container .box::before{
        content: "";
        position: absolute;
        left: 0;
        bottom:0;
        height: 0;
        width: 2px;
        background-color: var(--main-color);
        transition: 1s;
      }


      .stats .container .box::after{
        content: "";
        position: absolute;
        right: 0;
        top:0;
        height: 0;
        width: 2px;
        background-color: var(--main-color);
        transition: 1s;
      }


      .stats .container .box:hover{opacity: 1;}


      .stats .container .box:hover::before{
        height: 100%;
      }


      .stats .container .box:hover::after{
        height: 100%;
      }












      .stats .container .box i{
        color: black;
        font-size: 30px;
      }

      .stats .container .box span:nth-child(2){font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .stats .container .box span:last-child{
        font-style: italic;
        font-size: 25px;
        color: var(--main-color);
        text-transform: capitalize;
        
      }




      .discount{
        display: flex;
        min-height: 100vh;
        flex-wrap:wrap;
      }

      .discount .left{flex-basis:50%;
      position: relative;
        background-image: url(../Images/discount-background1.jpg);
        background-size: cover;
        z-index: 1;
      } 
 

      .discount .left .content{ display: flex;
        flex-direction: column;
        align-items: center;
      justify-content: space-evenly;
    height: 100%;
    padding: 0 20px;
    text-align: center;
    }

        .discount .left .content h2{color: white;
        text-transform: capitalize;
        font-size: 40px;
        font-weight: bold;
          margin-bottom: -20px;
        }

        .discount .left .content p{max-width: 500px;
        color: white;
        line-height: 1.7;
        font-size: 18px;
       margin-bottom: -20px;
        }

        .discount .left img{width: 300px;
          max-width: 100%;}











      .discount .left::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(23 135 224 / 98%);
        z-index: -1;
      }

      .discount .right{
        width: 50%;

      }
    



      .discount .right .content{
      padding: 0 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
    margin: auto;
      } 


      .discount .right .content form{display: flex;
        flex-direction: column;
      gap: 15px;
      flex: 1;
      width: 100%;
      height: 100%;
      }

      .discount .right .content form input:not([type="submit"]),textarea{padding: 20px 15px;
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: #f9f9f9;
        caret-color: var(--main-color);
        display: block;
      }
      textarea{flex:0.55;}
       .discount input[type=submit]{
      color: white;
      background-color: var(--main-color);
      border: none;
      text-transform: capitalize;
      padding: 20px 0;
      font-size: 23px;
      font-weight: bold;
      }


      .discount .right .content h2{color: black;
        text-transform: capitalize;
        font-size: 40px;
        font-weight: bold;
          margin: 30px 0;
        text-align: center;
        }

        @media(max-width:991px){
          .discount .left{width: 100%;}
          .discount{
            flex-direction: column;
          }
          .discount .right{
            width: 100%;
            padding-bottom: 20px;
          }
  
          .discount .left .content h2{           
              margin-bottom: 30px;
            }

            .discount .left .content p{           
              margin-bottom: 30px;
            }

            .discount .left{padding-top: 40px;}


  
        }


        footer{
          background-color: black;
          padding: 70px 0 0;
        }

        footer .container{
          display: grid;
          grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
          gap: 40px;
          
        }

        footer .container .f {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 25px;
        }


        footer .container .f h2{color: white;
        font-weight: bold;
        font-size: 50px;
        }

        footer .container .f ul{display: flex;
        gap: 14px;
        }

        footer .container .f ul li{padding: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #313131;
          width:50px;
          height: 50px;
          padding: 10px;
          transition: 0.3s;
          cursor: pointer;
          }

          footer .container .f ul li:first-child:hover{background-color: blue;}
          footer .container .f ul li:nth-child(2):hover{background-color: rgb(22, 20, 20);}
          footer .container .f ul li:nth-child(3):hover{background-color: #962fbf;}



          footer .container .f ul li i{color: #b9b9b9;
            font-size: 28px;
          }
          

          footer .container .f p{
            color: white;
            font-size: 18px;
            line-height: 1.6;
           
            max-width: 300px;
          }

          footer .t ul{
            display: flex;
            flex-direction: column;
            
            
            height: 100%;
          }


          footer .t li{
            
            font-size: 19px;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            flex: 1;
            border-bottom: 1px solid #444;
            color: #b9b9b9;
            transition: 0.3s;
            cursor: pointer;
          }
          footer .t li:hover{
            color: white;
            margin-left: 8px;
          }



          footer .t li i{
            color: var(--main-color);
            margin-right: 15px;
            font-size: 15px;
          }

          footer .l {display: flex;
          flex-direction: column;}


          footer .l .ad{
            display: flex;
            align-items: center;
            flex: 1;
           margin-bottom: 20px;
          }

          footer .l .ad i{color: var(--main-color);
          font-size: 30px;
          margin-right: 15px;
          }

          footer .l .ad p{color: white;
          line-height: 1.6;
        }


          @media(max-width:767px){
            footer .container .f p{text-align: center;}
            footer .container .f{align-items: center;}
            footer .t li{margin-bottom: 30px;
            padding-bottom: 10px;
          font-size: 20px;}
          footer .l .ad{margin-bottom: 30px;}


          }